In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")

In [3]:
df

          dateRep  day  month  ...  geoId  countryterritoryCode  popData2018
0      16/04/2020   16      4  ...     AF                   AFG   37172386.0
1      15/04/2020   15      4  ...     AF                   AFG   37172386.0
2      14/04/2020   14      4  ...     AF                   AFG   37172386.0
3      13/04/2020   13      4  ...     AF                   AFG   37172386.0
4      12/04/2020   12      4  ...     AF                   AFG   37172386.0
...           ...  ...    ...  ...    ...                   ...          ...
11147  25/03/2020   25      3  ...     ZW                   ZWE   14439018.0
11148  24/03/2020   24      3  ...     ZW                   ZWE   14439018.0
11149  23/03/2020   23      3  ...     ZW                   ZWE   14439018.0
11150  22/03/2020   22      3  ...     ZW                   ZWE   14439018.0
11151  21/03/2020   21      3  ...     ZW                   ZWE   14439018.0

[11152 rows x 10 columns]

### Número actual de casos de infección por COVID-19 en todo el mundo

In [4]:
df['cases'].sum()

2029930