In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
      "a" : [4 ,5, 6], 
      "b" : [7, 8, 9], 
      "c" : [10, 11, 12]})

In [3]:
df

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12

### Acceso a una columna completa (la columna B)

In [4]:
df['b']

0    7
1    8
2    9
Name: b, dtype: int64

In [5]:
df.b

0    7
1    8
2    9
Name: b, dtype: int64

### Acceso a una fila completa (la fila 1)

In [6]:
df.iloc[1]

a     5
b     8
c    11
Name: 1, dtype: int64

In [7]:
df[1:2]

   a  b   c
1  5  8  11

### Acceso a un elemento concreto (el elemento C,2)

In [8]:
df['c'][2]

12

### Modificar un elemento concreto (el elemento C,2)

In [9]:
df['c'][2] = 15

In [10]:
df['c'][2]

15

### Modificar una fila completa (la fila 1)

In [11]:
df.iloc[1] = [100,200,300]

In [12]:
df

     a    b    c
0    4    7   10
1  100  200  300
2    6    9   15

### Modificar una columna completa (la columna B)

In [13]:
df.b = [25,50,75]

In [14]:
df

     a   b    c
0    4  25   10
1  100  50  300
2    6  75   15